* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #534c64;
}
img {
  max-width: 100%;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 38px 0;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-title {
  font-size: 3rem;
  font-weight: 700;
  color: #0b0223;
}

.nav-title span {
  color: #ff42a5;
}
.nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
}
.btn {
  padding: 10px 25px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
}

.nav-ul a {
  text-decoration: none;
  color: #3c354f;
}

.fa-youtube {
  color: red;
}
.fa-tiktok {
  color: #00f2ea;
}

/* banner  */

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.banner-content h3 {
  color: #0b0223;
  /* text-align: center; */
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-content h2 {
  /* text-align: center; */
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-content p {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: lowercase;
  margin-bottom: 10px;
}
.btn {
  font-size: 1.25rem;
  border-radius: 48px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  padding: 1em 2em;
  color: #fff;
  cursor: pointer;
}

.btn-signin {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}

.btn-rogue {
  background: #4ec5f7;
}
/* online games */

.online-games-section {
  margin-top: 100px;
  text-align: center;
}

.online-games-section h2 {
  color: #0b0223;
  font-weight: 700;
  font-size: 3rem;
}
.online-games-section p {
  margin: 1em 0;
}
.funny-video {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-games-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.hover-container {
  position: relative;
  display: inline-block;
}

.hover-container img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  border: 3px solid green;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.play-button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.hover-container:hover .overlay {
  opacity: 1;
}

.play-instantly-section {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.play-instantly-section-content {
  max-width: 340px;
}
.play-instantly-section-content h2 {
  font-size: 2.8rem;
  font-weight: 700;
}
.play-instantly-section-content p {
  margin: 15px 0;
}
.play-instantly {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
.play-instantly-img-container {
  position: relative;
}

.absolute-img {
  position: absolute;
  left: -20%;
  bottom: -10%;
  max-width: 40%;
}

/* game types */

.game-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 80px;
}
.item {
  /* flex-shrink: 0; */
  display: flex;
  align-items: center;
  gap: 3px;
  border: 1px solid transparent;
  font-size: 0.8rem;
  /* flex-basis: 100px; */
}

.item img {
  max-width: 50%;
}

.item:hover {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #ff42a5;
  border-radius: 50px;
  /* background: #fff; */
}

/* footer */

footer {
  text-align: center;
  background: #0b0223;
  padding: 50px 0;
}
.footer-logo-container {
  display: flex;
  justify-content: center;
}
.footer-title {
  color: #fff;
}
.footer-title span {
  color: #ff42a5;
}
.link-set-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  max-width: 700px;
  margin: 25px auto;
  /* margin-top: 25px; */
}
.link-set-one li {
  flex-shrink: 0;
  flex-basis: 100px;
  margin-bottom: 10px;
}

.link-set-one a {
  text-decoration: none;
  color: #fff;
}

.link-set-three {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  max-width: 700px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  font-weight: 500;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.link-set-three li {
  flex-shrink: 0;
  flex-basis: 180px;
  margin-bottom: 10px;
}
.link-set-three a {
  color: inherit;
  text-decoration: none;
  /* margin-right: 10px; */
}

footer p {
  margin-top: 25px;
  text-align: cetner;
}

@media screen and (max-width: 792px) {
  .online-games-section h2,
  .play-instantly-section-content h2,
  .banner-content h3 {
    font-size: 2.5rem;
  }
  .nav-container {
    flex-direction: column;
    gap: 30px;
  }
  .nav-ul {
    flex-direction: column;
    gap: 20px;
  }

  .banner-container {
    flex-direction: column-reverse;
    /* align-items: center; */
  }

  .banner-content {
    text-align: center;
  }
  .online-games-container {
    grid-template-columns: 1fr 1fr;
  }

  .play-instantly-section {
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
  }
  .main-img {
    max-width: 80%;
  }
  .absolute-img {
    left: -5%;

    max-width: 30%;
  }

  .game-types {
    /* grid-template-columns: repeat(3, 1fr); */
    font-size: 0.6rem;
    gap: 10px;
    min-width: 400px;
  }

  .game-types .item {
    flex-basis: 180px;
    font-size: 0.8rem;
  }
  footer {
    padding: 40px;
  }
  .link-set-three {
    flex-wrap: wrap;
    /* max-width: 400px; */
    gap: 0;
    /* justify-content: center; */
  }
  .link-set-three li {
    flex-basis: 150px;
  }
}

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    gap: 30px;
  }
  .nav-ul {
    flex-direction: column;
    gap: 20px;
  }

  .banner-container {
    flex-direction: column-reverse;
    /* align-items: center; */
  }

  .banner-content {
    text-align: center;
  }
  .online-games-container {
    grid-template-columns: 1fr;
  }

  .play-instantly-section {
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
  }
  .main-img {
    max-width: 80%;
  }
  .absolute-img {
    left: -5%;

    max-width: 30%;
  }

  .game-types {
    /* grid-template-columns: repeat(3, 1fr); */
    font-size: 0.6rem;
    gap: 5px;
    min-width: 400px;
  }

  .game-types .item {
    flex-basis: 130px;
    font-size: 0.5rem;
  }
  footer {
    padding: 40px;
  }
  .link-set-three {
    flex-wrap: wrap;
    /* max-width: 400px; */
    gap: 0;
    /* justify-content: center; */
  }
  .link-set-three li {
    flex-basis: 150px;
  }
}
